@media (min-width: 768px) {
  .navbar-close-open-button {
    display: none;
  }
}


.header {
  display: flex;
  padding: .5rem 1rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border);
}

.error-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 1rem;
}

.body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tab-state {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  color: var(--text-2);
  font-size: 14px;
}

.tab-state.error {
  color: var(--danger-2);
}
