# General
resend


# API
fastapi
python-jose
uvicorn[standard]
python-multipart
httpx
websockets

# DB
sqlalchemy

# API + DB
pydantic
pydantic-settings

# Tools
dnspython
cryptography

# Reporting
fpdf2
