<div class="p-4 flex flex-col w-full gap-2">
  <div class="flex items-center gap-4">
    <svg lucideKey size="16px" color="var(--accent)"></svg>
    <p class="text-lg">Change password</p>
  </div>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <label for="password1" class="text-(--text-2) text-xs">NEW PASSWORD</label>
    <input formControlName="password1" class="input mb-1" type="text" name="password1" placeholder="At least 8 characters">
    @if (form.controls.password1.touched && form.controls.password1.hasError('required')) {
      <div class="error-field">This field is required</div>
    }
    @if (form.controls.password1.touched && form.controls.password1.hasError('minlength')) {
      <div class="error-field">Password must be at least 8 characters</div>
    }
    <label for="password2" class="text-(--text-2) text-xs">CONFIRM PASSWORD</label>
    <input formControlName="password2" class="input" type="text" name="password2" placeholder="Repeat new password">
    @if (form.controls.password2.touched && form.controls.password2.hasError('required')) {
      <div class="error-field">This field is required</div>
    }
    @if (form.controls.password2.touched && form.controls.password2.hasError('minlength')) {
      <div class="error-field">Password must be at least 8 characters</div>
    }
    @if (form.touched && form.hasError('passwordsMismatch') && form.controls.password1.valid && form.controls.password2.valid) {
      <div class="error-field">Passwords must be the same</div>
    } @else if (error()) {
      <div class="error-field">{{error()}}</div>
    }

    <div class="flex gap-4 mt-2">
      <button class="flex-1 btn mt-2" (click)="backFromChangePassword.emit()">Back</button>
      <button class="flex-1 btn btn-primary mt-2" type="submit" [disabled]="form.invalid">Save</button>
    </div>
  </form>
</div>
